#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin-right: 20px; /* Adjust spacing between navigation items */
}

#navbar li  {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#navbar a {
  text-decoration: none;
  color: black; /* Change color as needed */
}

#navbar button {
  padding: 8px 16px;
  background-color: #4CAF50; /* Change background color as needed */
  border: none;
  color: white;
  cursor: pointer;
}

#navbar li dialog {
  display: none; /* Initially hide dialog */
}
