html, body {
  margin: 0;
  padding: 0;
} 
#navbar {
  list-style-type: none;
  background-color:rgb(255, 185, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
#navbar h1 {
  color:#1ac2ce;
  text-shadow: #249ca5;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

#navbar li {
  margin-right: 30px; /* Adjust spacing between navigation items */
}

#navbar  {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#navbar a {
  text-decoration: none;
  color:#1ac2ce;
  text-shadow: #249ca5;
}

button#show-diolog {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px 16px;
  background-color: #1ac2ce; /* Change background color as needed */
  border:none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transition:active 0.15s ease-in-out;
}
button#show-diolog:hover {
  transform: scale(1.1);
}
button#show-diolog:active {
  background-color: #249ca5;
}

#navbar li dialog {
  display: none; /* Initially hide dialog */
}
