/* Rest of the CSS for table styling */

/* Center the table within the section */
table {
    margin: 0 auto; /* Center the table horizontally */
}

/* Style for table cells */
td, th {
    padding: 10px; /* Padding inside cells */
    border: none; /* Remove border */
    background-color: transparent; /* Transparent background color */
}

/* Set width for each column */
th:nth-child(1),
td:nth-child(1) {
    width: 20px; /* Enough room for 2 characters for # */
}

th:nth-child(2),
td:nth-child(2) {
    width: 100px; /* Enough room for 15 characters for Name */
}

th:nth-child(3),
td:nth-child(3) {
    width: 50px; /* Enough room for 3 characters for Score */
}

/* Styles for the rest of the HTML */
html {
    background-color: #1ac2ce;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 12px; 
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1ac2ce;
}

#personal,
#global {
    text-align: center;
    height: 63vh;
    margin: 10px;
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
}
